@import "tailwindcss";

@theme {
  --font-funnel: "Funnel Display", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-mono: "Intel One Mono", monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Funnel Display", sans-serif;
  background-color: #f9f9f9;
  color: #0f0f0f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
